---
before_install:
  - sudo apt-get update -qq
install:
  - sudo apt-get install -qq python-apt python-pycurl python-pip
  - sudo pip install "ansible>=1.7.0,<1.8"
  - sudo pip install pip -U
before_script:
  - cd test
script:
  - ansible-playbook -i inventory test.yml --syntax-check
  - ansible-playbook -i inventory test.yml --connection=local --sudo
